@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #e4e4e4;
}

.encabezado {
    background-color: #47644e;
    box-shadow:
        0px 8.4px 11.8px rgba(0, 0, 0, 0.17),
        0px 11.6px 26.1px rgba(0, 0, 0, 0.111),
        0px 16px 47.1px rgba(0, 0, 0, 0.085),
        0px 22px 113px rgba(0, 0, 0, 0.059);
}

.contenedor {
    max-width: 70%;
}

@media (max-width: 768px) {
    .contenedor {
        max-width: 90%;
    }
}

.contenedor-nav {
    max-width: 70%;
}

@media (max-width: 768px) {
    .contenedor-nav {
        max-width: 100%;
    }
}

.cont-enlases-nav {
    padding: 10px 0;
}

@media (max-width: 768px) {
    .cont-enlases-nav {
        padding: 15px 0;
    }
}

.enlaces-nav {
    text-decoration: none;
    color: #eeeeee;
    padding: 10px;
    font-weight: 600;
}

.enlaces-nav:hover {
    background-color: #2f4234;
    color: white;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

/* Inicio */

.sec-inicio {
    justify-content: center;
    text-align: center;
    padding: 70px 0;
    align-items: center;
    margin-top: 55px;
}

@media (max-width: 768px) {
    .sec-inicio {
        padding: 20px 0;
    }
}

.img-perfil {
    width: 100%;
}

.titulo-principal {
    text-align: start;
    font-size: 35px;
    font-weight: 800;
    color: #252625;
}

.titulo-principal span {
    color: #648C6E;
}

.div-botones {
    padding: 15px 0 0 12px;
}

.botones-inicio {
    background-color: #47644e;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 10px 0;
}

.botones-inicio:hover {
    background-color: #2f4234;
    cursor: pointer;
    transition: 0.4;
    -webkit-transition: 0.4;
    -moz-transition: 0.4;
    -ms-transition: 0.4;
    -o-transition: 0.4;
}

.botones-inicio a {
    text-decoration: none;
    color: #eeeeee;
}

/* Sobre mi */

.subtitulos {
    color: #252625;
    font-weight: 800;
    margin: 0;
    padding: 25px 0;
    text-align: start;
}

/* Habilidades */

.sec-habilidades {
    margin: 30px 0;
}

.herramientas {
    padding: 10px 0;
    /* backdrop-filter: blur(1.7px) saturate(200%);
    -webkit-backdrop-filter: blur(2px) saturate(92%);
    background-color: rgba(28, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125); */
}

.card-herr {
    border-left: 8px solid #47644e;
    border-right: 8px solid #47644e;
    border-top: 3px solid #47644e;
    border-bottom: 3px solid #47644e;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    background-color: #a7c4ae;
    margin-top: 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.card-herr p {
    margin: 0;
    padding-left: 20px;
    font-weight: 600;
}

.iconos-hab {
    font-size: 40px;
    width: 60px;
    border-right: 3px solid #47644e;
    text-align: center;
}

.card-herr p {
    color: #252625;
}

@media (max-width: 768px) {
    .iconos-hab {
        font-size: 35px;
    }
}

/* Proyectos */

/* Contacto */

.sec-contacto {
    padding-bottom: 70px;
}

.img-form {
    width: 100%;
    padding: 20px 0;
}

.formulario {
    background-color: #47644e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0 15px;
}

.label-form {
    padding-top: 20px;
    color: #fff;
}

.boton-form {
    margin: 20px auto;
    width: 200px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #648C6E;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.boton-form:hover {
    background-color: #2f4234;
}

/* Footer */

footer {
    background-color: #47644e;
    padding: 20px 0;
}

.div-footer {
    justify-content: center;
}

@media (max-width: 768px) {
    .div-footer {
        gap: 15px;
    }
}

.div-footer div {
    text-align: center;
}

.div-footer div h3 {
    font-size: 19px;
    color: #fff;
    padding-bottom: 7px;
}

@media (max-width: 768px) {
    .div-footer div h3 {
        font-size: 17px;
        padding-bottom: 5px;
    }
}

.iconos-footer {
    font-size: 25px;
    color: #fff;
}